<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1 align="center">
Bienvenido a HangWord</h1>
<form method="POST" action="/jugar">
<center>
	<input type="submit"  value="Jugar">  
</center>
</form>
</body>
</html>